.examples-container {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.examples {
    border: 1px solid black;
}

.example {
    word-break: break-word;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
}

.example span {
    padding: 5px;
}

.example-label {
    font-size: 16px;
}

.example-unit {
    border-radius: 3px;
}

.unit-id {
    display: inline;
    font-weight: bold;
    margin-left: -5px;
    font-size: 16px;
}

.square {
    height: 16px;
    width: 16px;
    background-color: rgba(200, 200, 200, 1);
    margin-bottom: -3px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
}